<div class="dropdown-menu">
	<div class="categories">
		<ul class="nav nav-pills nav-stacked">
	       <li class="active"><a href="#"><i class=""></i>Secuirity and Biometrics</a></li>
	       <li><a href="#"><i class=""></i>Desktop and Laptops</a></li>
	       <li><a href="#"><i class=""></i>Storage Devices</a></li>
	       <li><a href="#"><i class=""></i>Computer Accessories</a></li>
	       <li><a href="#"><i class=""></i>Gaming Accessories</a></li>
	       <li><a href="#"><i class=""></i>Printers and Scanners</a></li>
	       <li><a href="#"><i class=""></i>Repair</a></li>
	    </ul>
    </div>
</div>