<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-5" id="left">
					<h4><strong>Why Us?</strong></h4><hr>
					<p>Techlite Group assures that its IT hardware and servies are second to none.
						It is a brand that locals trust. Our staff comes from well educated institutes and is highly trained to work in IT industry.
						Customer satisfaction is our primary focus as a business.
					 </p>
				 </div>
				 <div class="col-sm-2 col-sm-offset-5" id="right">
					 <h4><strong>Contact Us</strong></h4>
					 <hr>
					 <ul>
						 <li>Tech Groups Pvt. Ltd.</li>
						 <li>Charles Darwin University, Casuarina 0810</li>
						 <li class="opp">Norther Territory</li>
						 <li>+62490786910</li>
					</ul>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="menu">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <!-- <a class="navbar-brand" href="#">Brand</a> -->
			    </div>
			</div>  <!-- /menu -->
			<hr>
		</div>
		<h6>©2021 Techlite Groups Pvt. Ltd., All Rights Reserved</h6>
	</div>
</div>
	<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- <script type="text/javascript">
		$('#service-slide').carousel()s
	</script> -->
</body>
</html>